/* @import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap'); */

body
{
    background: #FEF2F4;
    margin: 0;
    padding: 0;
    font-family: 'Chillax', sans-serif;
    padding: 50px;
    color: #111 !important;
}
.mouse {
	width: 50px;
	height: 90px;
	border: 3px solid #111;
	border-radius: 60px;
	position: absolute;
    top: 80%;
    left: 50%;
}
.mouse::before {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #111;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}
/*
Main section
*/
.main-section
{
    margin-bottom: 0;
    padding-bottom: 0;
    height: 100vh;
}
.main--intro
{
    display: flex;
    text-align: left;
    flex-direction: column;
    font-weight: 500;
    font-size: 2.75rem;
    margin-top: 100px; 
}
.main--highlight
{
    color: #fff;
    font-weight: 500;
    /* text-shadow: 2px 2px #ffffff; */
    background: #8eb6fc;
    border-radius: 10px;
    padding: 0 10px 0 10px;
}
/*
About section
*/
.about-section
{
    margin-top: 0;
    padding-top: 0;
}
#know-me-heading, #works-heading, #contact-heading
{
    font-weight: 500;
    font-size: 3rem;
}

.about--info-and-profile
{
    display: flex;
    justify-content: center;
    align-items: top;
    flex-direction: row;
    gap: 50px;
}
.about--info
{
    width: 600px;
    font-size: 1.75rem;
    line-height: 34px;
    font-weight: 450;
}
.about--info--highlights
{
    font-weight: 500;
    background-color: #8eb6fc;
    /* padding: 0 2px 0 2px; */
    border-radius: 5px;
    padding: 0 10px 0 10px;
    color: #fff;
}
.about--info > p
{
    color: #111111;
    line-height: 34px;
}

#resume
{
    color: #fff;
    background: #8eb6fc;
    padding: 15px 20px;
    border-radius: 55px;
    text-decoration-line: none ;
    box-shadow: 2px 2px #111;
    font-weight: 500;
}
#new-oppurtunities
{
    font-size: 1.65rem;
    font-weight: 500;
    color: #fff;
    text-shadow: 2px 2px #111;
    /* background: #FF6E31; */
    border-radius: 5px;
    padding: 10px;
    -webkit-animation:colorchange 2.5s infinite alternate;    
}
@-webkit-keyframes colorchange {
    0% {
      background: black;
    }         
    50% {       
      background: #8eb6fc;
    }            
    100% {     
      background: black;
    }
  }
#main-profile
{
    height: 550px;
    border-radius: 20px;
}

/*
works section
*/
.my-works
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-works
{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.works
{
    width: 1150px;
    padding-bottom: 50px;
    border-radius: 25px;
    border: 5px solid #111; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.brief-and-roles
{
    display: flex;
    gap: 50px;
    color: #111 ;
    font-size: 1.5rem;
    font-weight: 500;
}

.project-heading
{
    font-size: 2rem;
    color: #111;
    font-weight: 500;
}
.design-banners
{
    display: flex;
    gap: 100px;
    margin-bottom: 15px;
}
.mobile-designs
{
    height: 450px;
}

.desktop-designs
{
    height: 200px;
}
.project-yaritza
{
    gap: 50px !important;
}
.desktop-designs-2
{
    height: 300px;
}

.project-links
{
    display: flex;
    justify-content: space-evenly;
    gap: 250px;
}

.project-links > a 
{
    text-decoration-line: none;
    color: #111;
    font-size: 1.15rem;
}

.design-banners-spotify
{
    display: flex;
    flex-direction: column;
    gap: 20px !important;
}
.desktop-designs-2
{
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #111;
}
.case-studies-link
{
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px #111;
    transition: ease-in-out 250ms;
    color: black;
    font-weight: 500;
    background: #fff;
}
.case-studies-link:hover
{
    transform: scale(1.25);
    background: #8eb6fc;
    text-shadow: 1px 1px #111;
    color: #fff;
}
.designs-links
{
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px #111;
    transition: ease-in-out 250ms;
    font-weight: 500;
    /* color: #fff; */
    background: #fff;

}
.designs-links:hover
{
    transform: scale(1.25);
    background: #8eb6fc;
    text-shadow: 1px 1px #111;
    color: #fff;
}
.social-links-div
{
    display: flex;
    justify-content: center;
    align-items: center;   
    gap: 20px; 
}
.social-links
{
    width: 50px;
}

.about-section, .works-section
{
    margin-bottom: 150px;
}
.contact-section
{
    margin-bottom: 50px;

}
#copyright
{
    font-size: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}